@import url(./__triangle/kaufman__triangle.css);

.kaufman {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #1F1F1F;
    overflow: hidden;
    margin-bottom: 100px;
  } 